@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --blue-text: rgb(28, 75, 175);
    --dark-blue: rgb(15, 42, 100);
    --mid-blue: rgb(90, 120, 182);
    
}

html {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar section */
#mobile-nav {
    display: none;
}

.navbar {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.navbar ul {
    background-color: rgba(156, 156, 156, 0.925);
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0 10%;
    height: 10vh;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#name {
    color: var(--blue-text);
    font-weight: bold;
    font-size: 30px;
}

/* Hero section */
.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    background-image: url("../images/IMG_7207.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-text {
    display: flex;
    position: absolute;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    top: 35%;
    left: 10%;
    font-size: 25px;
    text-transform: uppercase;
    z-index: 2;
}

.firstword {
    color: var(--blue-text);
}

.resume-cta {
    border: 2px solid var(--blue-text);
    width: 180px;
    padding: 20px;
    margin-top: 20px;
}

.resume-text {
    color: white;
}